{% extends "base.html" %}
{% block title %} Thoughts, Moods, and Feelings{% endblock title %}
{% block content%}
	<div class="row">
		<div class="columns span9">
		<h2>Introduction</h2>
<p>
How do you feel right now?   If you've come to this website looking for help, you probably aren't feeling very good. Maybe you are feeling sad, or anxious.  You might be angry, or stressed out, or worried, or even depressed.  Hopefully you are none of these things.  Hopefully you are happy, healthy, and enjoying life.  But what can you do if you are feeling badly?

Fortunately, no matter how badly you feel, there is hope!  Anxiety and depression are both highly treatable.  This guide goes over one type of treatment which has proven extremely effective for these illnesses.  This treatment, called <strong>Cognitive Behavioral Therapy</strong>, teaches you how to change your thoughts and actions so that you feel better.  

<div class="alert-message block-message">
I hope this guide will be useful to you, but I am not a trained psychologist or psychiatrist.  If you suffer from extreme anxiety or depression, or if you are considering causing harm to yourself or others, please consult a specialist!
</div>
</p>

<h2>Table Of Contents:</h2>

<ul class="unstyled">
<li><h3><a href="#why-do-i-feel-bad">Why Do I Feel Bad?</a></h3></li>
<li><h3><a href="">How To Make Yourself Feel Better</a></h3></li>
<li><h3><a href="">Keeping A Thought Diary</a></h3></li>
<li><h3><a href="">Distorted Thinking</a></h3></li>
<li><h3><a href="">Challenging Your Thoughts</a></h3></li>
<li><h3><a href="">Further Resources</a></h3></li>
</ul>

<h2 id="why-do-i-feel-bad">Why Do I Feel Bad?</h2>
What determines how you feel?  Just four things.  Your situation, your thoughts, your feelings, and your behavior.  If you want to change how you feel, you must change one of these things.  

Most of the time, when people feel bad, they think it is because of their external circumstances.  For example, you may feel sad because you have broken up with a girlfriend, or because a loved one has passed away.  If you get a good grade on a test, or get a promotion at your job, you may feel happy.  Good things happen and you feel good, and bad things happen and you feel bad.  Makes sense, right?

Well not quite.  Has something ever happened to you that ought to be good, but you're sad about it?  You get an A on your exam, but you think to yourself, "the teacher was just being nice to me," and you feel like you still aren't a very good student.  Or maybe you get a promotion, but you think, "I'm not qualified.  I won't be any good at this new job."  You end up feeling nervous, instead of happy.  What about the opposite? Maybe you get fired from your job, but instead of being upset, you're excited because you think, "Now I can finally do what I want."  Or you lose your suitcase while traveling, but instead of being upset, you're excited that you get to buy new clothes.  

In fact, the same event can cause you to feel totally differently, depending on how you think about it.  If you fail a test, and think, "I'm stupid, I'll never be any good at this subject," you may feel very sad, frustrated, or even hopeless.  If, instead, you think, "That test was really hard.  I need to spend more time studying, and next time maybe I will do better," you may feel more hopeful and optimistic.  Your circumstances are the same, but the way you feel is totally different.

There is a cycle to our feelings, and this is the cycle that needs to be changed if you want to feel better.  Whatever your situation is, you will have thoughts about it.  These thoughts may be positive or negative, realistic or unrealistic.  Your thoughts will greatly influence your feelings.  Your feelings will affect how you behave, and your behavior will affect how your situation changes, whether for the better or for the worse.  

Sometimes, you can get into a negative cycle.  Perhaps something sad happens to you, or maybe you just feel sad, even though you don't know why.  Because you feel sad, you change your activities - maybe you go out less, and spend less time with friends.  Perhaps you stop taking good care of yourself.  This may cause you to be more isolated, and could injure your health.  As a result, your situation changes for the worse.  If you react negatively to this change (as most people would!) you may have lots of negative thoughts, which make you feel bad.  As this cycle goes around, you feel worse and worse, and your situation may get worse too.  This is an awful cycle to get into.  But how can you break out of it?

<h2>How to Make Yourself Feel Better</h2>

<h2>Further Resources</h2>
There are many wonderful resources for learning more about Cognitive Behavioral Therapy.  Here are a few that I have found particularly helpful.

<a href="http://www.amazon.com/Feeling-Good-Therapy-Revised-Updated/dp/0380810336/ref=sr_1_1?ie=UTF8&qid=1316818124&sr=8-1">Feeling Good by Dr. David Burns</a>
This book is where I first learned about CBT.  It is incredibly easy to read, and is a great way to learn how to apply this type of therapy to your own life.  Highly recommended!
		</div>
	</div>
{% endblock %}
