/**********************
**** All Pages *******
***************************/

#page {
	margin-top:30px;
}

#log_in {
	float:right;
}

#log_in input {
	width:100px;
	cursor:text;
}

#log_in input.topbar_submit {
	background-color:inherit;
	border:none;
	border-radius:0px;
	box-shadow:none;
	-moz-transition:none;
	color: #BFBFBF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	cursor:pointer;
	padding:4px 0px;
	width:auto;
} 

#log_in input.topbar_submit:hover {
	text-decoration: underline;
}

#log_in a {
	cursor:pointer;
}

/*Let's make the topbar not be fixed cause that's annoying me*/
.topbar {
	position:relative;
}

.topbar .top_bar_text {
	padding: 10px 10px 11px;
	color:#757575;
}

/* topbar menu */
.topbar li:hover .dropdown-menu{
		display:block;
}

#footer {
	
	/*other stuff*/
    background-color: #049CD9;
    background-image: -moz-linear-gradient(#004D9F, #049CD9);
    background-repeat: no-repeat;
	margin-top:50px;
}

#footer div.inner {
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3) inset;
    background: url("../my_images/grid-18px.png") repeat scroll center top transparent;
    padding: 45px 0;
}

#footer p, #footer ul {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#footer ul {
	display: block;
    float: right;
    position: relative;
}

#footer ul li{
	display: block;
    float: left;
	margin: 0px 10px;
}

#footer ul a {
    color: #FFFFFF;
    font-weight: bold;
}


/*Positioning above */
.dungeon {
	margin-bottom:20px;
}

.tower {
	margin-top:20px;
}

/**********************
**** List styles *******
***************************/
ul.my_horizontal {
	display:inline;
	list-style-type:none;
	margin: 10px 0px;
}
ul.my_horizontal li {
	float:left;
	padding:10px;
}

/**********************
**** Main Page *******
***************************/

/**********************
**** Thought Diary *******
***************************/

.hidden {
	display:none;
}

.detail_field {
	width:200px;
	float:left;
	padding:15px;
}

.detail_field .text_field {
		width:175px;
}

.large {
	float:none;
}

form #id_thought , #id_response{
	width: 450px;
	height:75px;
}

form #id_situation {
	width:700px;
	height:75px;
	margin: 5px 0px 10px
}

div.label {
	color:#888888;
}

div.form_label {
	color:#363636;
	font-size:17px;
}

.form_field_inline{
	float:left;
	margin:0px 10px 10px;
}

.form_field_inline select{
	width:150px;
}

.last{
	float:none;
}

.inline {
	width:700px;
}

.submit_thought, .submit_items {
	position:relative;
	margin: 15px 0px 25px;
	left:50px;
}



.text_header {
		position:relative;
		margin: 50px 0px 20px;
		left: 250px;
		font-size:30px;
}

/**********************
**** List of Thoughts *******
***************************/

.notopmargin {
	margin-top:0px;
}

.thoughts {
	list-style:none;
}

tr.thought_box {
	width:700px;
	margin:40px 50px;
}

td {
	padding:0px 20px;
}

td.thought{
	width:550px;
	padding:10px;
	height:75px;
}

td.time {
	width:100px;
}

td.id, th.id {
	display:none;
}

div.thought_challenge {
	display:none;
}
form.challenge a.button {
	width:150px;
}

/**********************
**** DetailView *******
***************************/


/**********************
**** Zebra striped without stripes *******
***************************/
.odd {
	background-color: #f9f9f9;
}



/**********************
**** Modal Window *******
***************************/
#thought_modal {
	top:50%;
	margin: 0px 0px 0px 0px;
}

#thought_modal .alert-message.block-message {
	margin:0px;
}

/**********************
**** Signup Page *******
***************************/

p.signup_note {
	margin: 10px 0px;
}

form.signup div {
	margin: 10px;
}

form.signup div.submit {
	margin:20px 10px;
}

div.add_padding {
    margin: 15px 15px;
}



/**********************
**** Add a thought *******
***************************/

#add_thought_form {
	padding:0px;
}

.add_thought {
	padding:10px 0px;
}


/**********************
**** thought distortions *******
***************************/

.distortions ul {
	list-style:none;
	margin:0px;
}

.distortions ul li:nth-child(odd) {
	background-color: #f9f9f9;
}

.distortions ul li:hover {
	background-color: #f5f5f5;
}

.distortions ul li:hover p{
	color: #202020;
}

.distortions p {
	color:#404040;
	font-size:16px;
}

.distortions li{
	margin:0px;
}

.distortions .odd {
	  background-color: #f9f9f9;
}

.distortions label.distortion_main_label {
	padding:5px;
	text-align:left;
	float:none;
	width:auto;
	font-size:16px;
	display:block;
}

.distortions .iPhoneCheckContainer {
}

/**********************
**** thought challenge *******
***************************/

#challenge_thought_form {
	padding:0px;
}


/**********************
**** mood chart *******
***************************/
.mood_chart #chartdiv {
	height:400px;
	width:800px;
}

/**********************
**** track mood *******
***************************/
div.item {
	margin: 10px 10px; 
}

div.track_item span {
	padding: 15 px;
	color:blue;
}

/**********************
**** about page *******
***************************/
img.about_me_img {
	float:left;
	margin: 0 35px 0 0;
}
