/**********************
**** Thought Diary *******
***************************/

.hidden {
	display:none;
}

.add_thought {
	padding:10px;
}

.detail_field {
	width:200px;
	float:left;
	padding:15px;
}

.detail_field .text_field {
		width:175px;
}

.large {
	float:none;
}

form #id_thought , #id_response{
	width:700px;
	height:75px;
}

form #id_situation {
	width:700px;
	height:75px;
	margin: 5px 0px 10px
}

div.label {
	color:#888888;
}

div.form_label {
	color:#363636;
	font-size:17px;
}

.form_field_inline{
	float:left;
	margin:0px 10px 10px;
}

.form_field_inline select{
	width:150px;
}

.last{
	float:none;
}

.inline {
	width:700px;
}

.submit_thought, .submit_items {
	position:relative;
	margin: 15px 0px 25px;
	left:50px;
}

#login_message{
	position:absolute;
	top:15px;
	right:30px;
}

.text_header {
		position:relative;
		margin: 50px 0px 20px;
		left: 250px;
		font-size:30px;
}

.thoughts {
	list-style:none;
}

tr.thought_box {
	width:700px;
	margin:40px 50px;
}

td {
	padding:0px 20px;
}

td.thought{
	width:450px;
	padding:10px;
	height:75px;
}

td.id {
	display:none;
}

div.thought_challenge {
	display:none;
}

/**********************
**** JQM Popup *******
***************************/

#jqm_popup_msg {
display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -300px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;	
}

#jqm_popup_msg #id_situation, #jqm_popup_msg #id_thought{
	width:600px;
}

form.challenge a.button {
	width:150px;
}

/**********************
**** Delete Form *******
***************************/
#delete_form div.float {
	float:left;
	width:100px;
	left: 0px;
}


/**********************
**** Signup Page *******
***************************/

p.signup_note {
	margin: 10px 0px;
}

form.signup div {
	margin: 10px;
}

form.signup div.submit {
	margin:20px 10px;
}

/**********************
**** mood chart *******
***************************/
.mood_chart #chartdiv {
	height:400px;
	width:800px;
}

/**********************
**** track mood *******
***************************/
div.item {
	margin: 10px 10px; 
}

div.track_item span {
	padding: 15 px;
	color:blue;
}
