<div class="row">
<div class="span9">
<form id="add_thought_form" class="form-stacked" action="{% url thought %}" method="POST">
	{% csrf_token %}
	<label class='add_thought'>What's on your mind?</label>
	{% if error %}
	<div class="alert-message warning">{{error}}</div>
	{% endif %}
	{{form.thought}}
	<!--
	<div class="detail_trigger"><a>Click to Show Optional Details</a></div>
	<div class="details">
		<div class="detail_field">
			<label>What is your mood on a scale of 1 to 10? (1 for bad, 10 for good)</label>
			{{mood.mood}}
		</div>
		<div class="detail_field">
			<label>How do you feel?</label>
			{{mood.feeling}}
		</div>
		<div class="detail_field">
			<label>Category</label>
			{{form.category}}
		</div>
		<div class="detail_field large">
			<label>What is the situation?</label>
			{{form.situation}}
		</div>
	</div>
	-->
	<input type="submit" class="btn primary tower" value="Add Thought"/>
</form>
</div>
</div>