{% extends "thought_base.html" %}
{% block title %} Checklist for Negative Thoughts {% endblock title %}
{% block content%}
	<div class="row">
		<div class='page-header tower'>
		<h1>Checklist for Negative Thoughts</h1> or
		<a href="/thought">Add More Thoughts</a>
		</div>
		<div class="row">
		<p class="columns span10">
		Thanks for sharing your thought!  The next step is to take a good hard look at your thought, to see if you are looking
		at things in a distorted way.  Cognitive distortions are extremely common in depression and anxiety, and they can make you feel really bad.  
		<br/><br/>
		Below are a few questions about your thought, to help you figure out if any 
		<a href="{{NAMED_URLS.distortions}}"> cognitive distortions</a> are present.		
		</p>
		
		<div class="columns span10">
		<h2>{{thought}}</h2>
		<a href="{% url thought_challenge thought.pk%}">Skip right to challenging this thought.</a>
		</div>
		</div>
	</div>
			<form action="{% url thought_distortion thought.pk %}" method="POST">
			<div class="row">
			<div class="columns span10 distortions">
			<ul>
			{% for distortion in distortions %}
			<li>
			<label for="id_distortions_{{forloop.counter}}" class="distortion_main_label">
			<p class="columns span7">{{distortion.question}}</p>
			</label>
			<input class="columns span3" id="id_distortions_{{forloop.counter}}" type="checkbox" value="{{distortion.pk}}" name="distortions"/>
			
			</li>
			{% endfor %}
			</ul>
			{% csrf_token %}
			</div>
			</div>
			<div class="row">
				<div class="columns offset1">
					<input class="btn primary" type="submit" value="next">
					<a href="/thought">I don't want/need to challenge this thought</a>
				</div>
			</div>
			</form>
{% endblock content %}