{% extends "base.html" %}
{% block tabs %}
	{% if thought.pk %}
	<ul class="tabs">
		<li><a href="{% url thought %}">Think It</a></li>
		<li><a href="{% url thought_distortion thought.pk %}">Check It</a></li>
		<li><a href="{% url thought_challenge thought.pk %}">Challenge It</a></li>
	</ul>
	{% else %}
		<ul class="tabs">
			<li><a href="{% url thought %}">Think It</a></li>
			<li><a href="/thought/distortion">Check It</a></li>
			<li><a href="/thought/challenge">Challenge It</a></li>
		</ul>
	{% endif %}
	
{% endblock %}