{% extends "thought_base.html" %}
{% block title %} Thought Diary {% endblock title %}
{% block content %}
	<h1>Welcome to the Thought Diary</h1>
	<div class="row">
	<div class="span9">
	<strong>Let's get started!</strong>  Just type out what you're thinking below.  If you are feeling bad, 
	try to think about what is making you feel so awful, and type that out.  <a href="{{NAMED_URLS.howto}}">Need some help getting started?</a>
	</div>
	</div>
	{% include "add_thought_form.html" %}
</div>
{% endblock %}