{% extends "thought_base.html" %}
{% block title %} Edit Your Thought {% endblock title %}

{% block links %}
	<li><a href="{% url thought_list %}">&laquo View My Thoughts</a></li>
	<li><a href="{% url thought_detail thought.pk%}">Back to this Thought</a></li>
	<li><a href="{% url thought %}">Add A New Thought</a></li>
{% endblock %}

{% block content %}
	<h1>Edit Your Thought</h1>
<div class="row">
<div class="columns span9">
<form id="edit_thought_form" class="form-stacked" action="{% url thought_edit thought.pk %}" method="POST">
	{% csrf_token %}
	<div class="dungeon">
	<label class='add_thought'>Your Thought:</label>
	{{form.thought}}
	</div>
	<input type="submit" class="btn primary" value="Edit Thought"/>
	<a href="{% url thought_detail thought.pk %}" class="btn">Cancel</a>
</form>
</div>
</div>

{% endblock content %}