{% extends "base.html" %}
{% block title %} My Thoughts {% endblock title %}
{% block content %}
<div class="text_header">My Thoughts</div>
{% if is_paginated %}{% load tags %}{% paginator 3 %}{% endif %}
<div id="thought_modal" class="modal hide fade"></div>
<table class="thoughts">
	<tr class="thought_header">
		<td class='id'></td>
		<td class='time'>Time</td>
		<td class='thought'>Thought</td>
		<td>Actions</td>
	</tr>
{% for thought in object_list%}
	<tr class="thought_box {% cycle 'odd' 'even' %}">
		<td class='id'>{{thought.pk}}</td>
		<td class='time'><span class='time'>{{thought.pretty_date}}</span></td>
		<td class='thought'>
			<div class='thought'>{{thought.thought}}</div>
			<div class='responses'>
				{% for challenge in thought.get_challenges %}
				{% if forloop.first %}
				<p>
				<span class="question">{{challenge.challenge_question.question}}</span>
				<span class="response">{{challenge.response}}</span>
				</p>
				<a href="{% url thought_detail thought.pk %}">See More Responses</a>
				{% endif %}
				{% empty %}
				<a href="{% url thought_challenge thought.pk %}">Challenge This Thought</a>
				{% endfor %}
			</div>
		</td>
		<td>
			<a class="launch_thought_modal" href="{% url thought_delete thought.pk %}"><img title="Delete Thought" class="icon" src="{{MEDIA_URL}}/my_images/Icons/24px/delete2.png"/></a>
			<a class="jqm_trigger" href="{% url thought_edit thought.pk %}"><img title="Edit Thought" class="icon" src="{{MEDIA_URL}}/my_images/Icons/24px/edit.png"/></a>
			<a class="jqm_trigger" href="{% url thought_challenge thought.pk %}"><img title="Challenge Thought" class="icon" src="{{MEDIA_URL}}/my_images/Icons/24px/challenge.png"/></a>
		</td>
	</tr>
    </li>
{% endfor %}
</table>

{% endblock content %}