{% extends "base.html" %}
{% block tabs %}
	{% if thought.pk %}
	<ul class="breadcrumb">
		<li><a href="{% url thought %}">Add Thought</a><span class="divider">/</span></li>
		<li><a href="{% url thought_distortion thought.pk %}">Check For Distortions</a><span class="divider">/</span></li>
		<li><a href="{% url thought_challenge thought.pk %}">Challenge Thought</a></li>
	</ul>
	{% else %}
		<ul class="breadcrumb">
			<li><a href="{% url thought %}">Add Thought</a><span class="divider">/</span></li>
			<li><a href="/thought/distortion">Check For Distortions</a><span class="divider">/</span></li>
			<li><a href="/thought/challenge">Challenge Thought</a></li>
		</ul>
	{% endif %}
	
{% endblock %}