{% extends "base.html" %}
{% block title %} About Page {% endblock title %}
{% block content_header %} 
	<div class="header page">
		<h1>Uh oh - our bad!</h1>
	</div>
{% endblock %}
{% block content %}
	<p>It looks like my website made a little mistake.
	It's still in beta mode, so I'm afraid that happens from time to time.
	If you'd like to complain or report this issue, feel free.  
	Just go to the <a href="/blog/contact">contact page</a>.  
	or you can go back to the <a href="/thought">main website</a>.
	Sorry about this.  Hopefully, I'll have this issue fixed soon!
	</p>
{% endblock %}
