<form action="{% url thought %}" method="POST">
	{% csrf_token %}
	<label>Add Another Thought:</label>
	{{form.thought}}
	<div class="details_menu">
	More Details (optional):
	<span class="toggle_mood"><img title="How do you feel?" class="icon" src="{{MEDIA_URL}}/my_images/mood.png"/></span>
	<span class="toggle_situation"><img title="What are you up to?" class="icon" src="{{MEDIA_URL}}/my_images/situation.png"/></span>
	</div>
	<div class="mood hidden">
		<label>What is your mood on a scale of 1 to 10? (1 for bad, 10 for good)</label>
		{{mood.mood}}
		<label>How do you feel in one word?</label>
		{{mood.feeling}}
	</div>
	<div class="situation hidden">
		<label>What is the situation?</label>
		{{form.situation}}
		<label>Tag</label>
		{{form.category}}
	</div>
	<div class="submit_thought">
		<a href="javascript:;" class="button submit"><span>Add Thought</span></a>
	</div>
</form>