<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stylesheets/bootstrap-1.1.1.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}javascripts/Popups/jqmodal.css"/>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stylesheets/mystyle.css" media="screen" />  
    <link type="text/css" href="{{MEDIA_URL}}/javascripts/jquery-ui/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/Popups/jqmodal.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/jquery.tablesorter.min.js"></script>
 
     <!--These scripts provide the toggle-switch functionality -->
     <script src="{{MEDIA_URL}}/javascripts/toggle-switch/jquery/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
     <link rel="stylesheet" href="{{MEDIA_URL}}/javascripts/toggle-switch/style.css" type="text/css" media="screen" charset="utf-8" />
 
     <script type="text/javascript" src="{{MEDIA_URL}}javascripts/script.js"></script>
    
 
	{% if PRODUCTION %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-23836757-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	{% endif %}
    {%block header %}{% endblock %}
 </head>
<body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="/">Mood Toolkit</a></h3>
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/contact">Contact</a></li>
	    <li><a href="/blog">Blog</a></li>
            <li><a href="/forum">Forum</a></li>         
	 </ul>
	{% include "login_message.html" %}
        </div>
      </div>
    </div>



<div class="container" id="page">
	{% block content %}{% endblock %}
</div>

<div id="footer">
	<div class="inner">
		<div class="container">
			<ul class="unstyled">
			            <li class="active"><a href="/">Home</a></li>
				    <li><a href="/about">About</a></li>
				    <li><a href="/blog/contact">Contact</a></li>
				    <li><a href="/blog">Blog</a></li>
				    <li><a href="/forum">Forum</a></li>         
			</ul>
			<p>Copyright 2011 MoodToolkit.com</p>
		</div>
	</div>
</div>

</body>
</html>
