<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stylesheets/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}javascripts/Popups/jqmodal.css"/>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stylesheets/green-blue.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}stylesheets/mystyle.css" media="screen" />  
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jqueryUI/js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/Popups/jqmodal.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/site.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/demo.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}javascripts/script.js"></script>
    {%block header %}{% endblock %}
 </head>
<body>
<div id="wrapper">
	<div id="header">
		<div class="page">
			{% if request.user.is_authenticated %}
				<div id='login_message'>
					Welcome {{request.user.username}}, you are now logged in! <a href="/logout">Sign Out</a>
				</div>
			{% else %}
				<div id="login_message">
					<form action="/login" method="POST" id='signin'>
						{% csrf_token %}
						Username: {{loginform.username}}
						Password: {{loginform.password}}
						<a href="javascript:;" class="button submit"><span>Sign In</span></a>
					</form>
				</div>
			{% endif %}
			<a href="index.html" class="logo">CBTToolkit</a>
			
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div id="page">
		<div class="top"></div>
		<div class="content">
			<div class="padding">
				{% block content %}{% endblock %}
			</div>
			<div class="bottom"></div>
		</div>
	</div>
	<div id="footer" class="page">
	<p>Copyright 2011 CBTToolkit.com.</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
</body>
</html>