{% extends "base.html" %}
{% block title %} Challenge Your Thought {% endblock title %}
{% block content %}
	<div class="header page">
		<h1>Challenge Your Thought</h1>
	</div>
	<div class="padding">
		New	to thought challenging?  <a href="/challenge/learn">Learn more</a>
		<h3>Your Thought: {{thought.thought}}</h3>
		<form action="" method="POST">
			{% csrf_token %}
			<label>Challenge That Thought:</label>
			{{form}}
			<div class="submit_thought">
				<a href="javascript:;" class="button submit"><span>Challenge Thought</span></a>
			</div>
		</form>
	</div>
{% endblock %}