{% extends "base.html" %}
{% block title %} CBT Toolkit Dashboard {% endblock title %}
{% block login %} 
{% if logged_in %}
	<div id='login_message'>
		Welcome {{username}}, you are now logged in! <a href="/logout">Sign Out</a>
	</div>
{% else %}
	<div id="login_message">
		<form action="login" method="POST" id='signin'>
			{% csrf_token %}
			Username: {{loginform.username}}
			Password: {{loginform.password}}
			<a href="javascript:;" class="button submit"><span>Sign In</span></a>
		</form>
	</div>
{% endif %}

{% endblock %}
{% block content %}
	<div class="header page">
		<h1>Welcome to CBT Toolkit</h1>
		<ul>
			<li><a href="/track">Track Your Mood</a></li>
			<li><a href="/thought">Thought Diary</a></li>
		</ul>
	</div>
	<div class="padding">
		Thanks for signing up!  How do you feel right now?
		<div class='emotion'><a>Confused, how does this thing work?</a></div>
		<div class='emotion'><a>Depressed</a></div>
		<div class='emotion'><a>Anxious</a></div>
		<div class='emotion'><a>Great</a></div>
	</div>
	<div class="bottom"></div>
{% endblock %}
