{% extends "base.html" %}
{% block title %} Log in to CBT Toolkit {% endblock title %}
{% block content_header %} 
	<div class="header page">
		<h1>Log in to CBT Toolkit</h1>
	</div>
 {% endblock %}
{% block content %}
	<form action="" method="POST">
		{% csrf_token %}
		{{errormsg}}
		{{form}}
		<div class="submit add_padding">
			<a href="javascript:;" class="button submit"><span>Log In</span></a>
		</div>
	</form>
	
	<p class="signup_note"> Don't have an account yet?  <a href="/signup">Sign up here!</a>
{% endblock %}
