{% extends "base.html" %}
{% block title %} CBT Toolkit {% endblock title %}
{% block content_header %}
<div class="header header_home page">
    <img src="{{MEDIA_URL}}/my_images/tech_toolbox.jpg" alt="application icon" title="application icon" class="main_screenshot" />
    <div class="signup">
        <h1>Get Help for Anxiety and Depression</h1>
	{% include 'registration_form_contents.html' %}
    </div>

    <!-- End App Info -->
    <div class="clear"></div>
    
	<div class="clear"></div>
	
</div>
{% endblock %}

{% block content %}
              <div class="section_title">
                    <h3>Learn More</h3>
                </div>
                <p>CBT Toolkit is is ready to use!  You can also check out the <a href="/about">about page</a>, <a href="/blog/contact">send me an e-mail</a>, or check out the <a href="/blog">blog</a>.</p>    
	<div class="clear"></div>
</div>
{% endblock %}
