{% extends "base.html" %}
{% block title %} Mood Toolkit {% endblock title %}
{% block content%}
	<div class="row">
		<div class="columns span6">
			<img src="{{MEDIA_URL}}/my_images/application_icon.jpg" alt="Mood Toolkit Icon" title="Mood Toolkit Icon" class="main_screenshot" />
		</div>
		<div class="columns span8">
			 <h1 class="tower">Feeling Sad or Anxious?</h1>
			<h2 class="dungeon">The Mood Toolkit is here to help</h2>
			<p class="dungeon">
				Whether you are suffering from depression, anxiety, or just have a touch of the blues, 
				this set of online tools can help you learn to deal with negative thoughts and improve your mood.
			</p>
			<span class="label success">Free In Beta!</span>
			<p>
			Get it while its hot!
			This site is free while in beta!
			</p>
			
			<div class="row">
			<p class="columns offset1">
				<a class="btn primary large" href="{% url thought %}">Try It Now</a>
				<a class="btn large" href="/content/tutorial">Learn More</a>
			</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="page-header">
		</div>
		<div class="columns span5">
			 <h2>Thought Diary</h2>
			<p>Learn how negative thoughts can make you feel bad and what you can do about it.</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
		<div class="columns span5">
			<h2>Mood Tracker</h2>
			<h3>Coming soon!</h3>
			<p>Your daily routine can have a big impact on how you feel.  Learn how your habits affect your mood. </p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
		<div class="columns span5">
			<h2>Daily Planner</h2>
			<h3>Coming soon!</h3>
			<p>This tool helps you plan your day so that you schedule some fun activities. </p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
		<div class="columns span5">
			<h3></h3>
			<p></p>
		</div>
</div>
{% endblock %}
