<form id="edit_thought_form" action="{% url thought_edit thought.pk %}" method="POST">
	{% csrf_token %}
	<label class='add_thought'>Edit Your Thought:</label>
	{{form.thought}}
	<div class="details">
		<div class="detail_field">
			<label>What is your mood on a scale of 1 to 10? (1 for bad, 10 for good)</label>
			{{mood.mood}}
		</div>
		<div class="detail_field">
			<label>How do you feel in one word?</label>
			{{mood.feeling}}
		</div>
		<div class="detail_field">
			<label>Category</label>
			{{form.category}}
		</div>
		<div class="detail_field large">
			<label>What is the situation?</label>
			{{form.situation}}
		</div>
	</div>
	
	<div class="submit_thought">
		<a href="javascript:;" class="button submit"><span>Edit Thought</span></a>
		<a href="javascript:;" class="button cancel"><span>Cancel</span></a>
	</div>	
</form>