<tr class="thought_header">
	<td class='time'><span class='time'>Date</span></td>
	<td class='thought'><span class='thought'>Thought</span></td>
	<td class="mood"><span>Mood</span></td>
	<td class="feeling"><span>Feeling</span></td>
	<td class="category"><span>Category</span></td>
	<td>Actions</td>
</tr>		
{% for thought in thoughts reversed%}
	<tr class="thought_box">
		<td class='id'>{{thought.pk}}</td>
		<td class='time'><span class='time'>{{thought.pretty_date}}</span></td>
		<td class='thought'><span class='thought'>{{thought.thought}}</span></td>
		<td class="mood"><span>{{thought.get_mood.mood}}</span></td>
		<td class="feeling"><span>{{thought.get_mood.get_feeling_display}}</span></td>
		<td class="category"><span>{{thought.get_category_display}}</span></td>
		<td><a class='action_thought' href="/delete">Delete</a></td>
	</tr>
    </li>
{% endfor %}